@import "../../variables";

#about {
  background-color: $dark-secondary;
  width: 100vw;
  color: $background;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
}

.about {
  text-align: center;
  padding-right: 3rem;
  padding-top: 6rem;

  h2 {
    display: inline-block;
    color: $dark-secondary;
    background-color: $primary;
    margin: 2rem;
  }

  &__info {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    width: 70%;
    padding-bottom: 10rem;

    &__text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      span {
        color: $primary;
      }

      h4 {
        background-color: $background;
        color: $dark-secondary;
        padding: 30px 25px;
      }
    }

    &__icon {
      display: inline-block;
      font-size: 8rem;
      color: $primary;
      margin: 20px auto;
    }

    &__icon:hover {
      cursor: pointer;
      color: $background;
      transition: ease-in-out 0.5s;
    }
  }
}

/* breakpoint for mobile  */
@media screen and (max-device-width: 716px) {
  .about {
    padding: 0 0.5rem;
    padding-top: 4rem;

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      padding-bottom: 4rem;
    }

    h2 {
      font-size: 1.5rem;
      padding: 0.25rem;
    }

    h4 {
      padding: 30px 10px;
      width: 90vw;
      text-align: center;
    }

    &__img {
      height: 150px;
      width: 200px;
      align-self: center;
      box-shadow: none;
    }

    &__icon {
      margin: 10px auto;
    }
  }
}
